POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=crash_radar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

AIRBYTE_HOST=http://airbyte-api
AIRBYTE_PORT=8000

SUPERSET_HOST=http://superset
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=your_secret_key_here

RUN_TIMES=06:00,14:00,22:00
LOG_LEVEL=INFO
